* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
}

.container {
    width: 100%;
    background-color: rgb(22, 18, 18);
    overflow: hidden;
    position: static;
    border-radius: 25px;
}


.slider {
    position: static;
    overflow: hidden;
    margin: 4vw;
    border-radius: 25px;
}

.container-images {
    display: flex;
    align-items: center;
    transition: all 2s;
}

.container-images img {
    max-width: 100%;
}

.image-wrapper {
    display: flex;
    transition: transform 1s ease;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 1s ease;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4vw;
}


.container-steps {
    display: flex;
    align-items: center;
    transition: all 2s;

}


.steps-wrapper {
    display: flex;
    color: white;
    font-size: 16px;
}


.step {
    display: none;
    animation: fade-out 0.5s ease-in-out;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.step.active {
    display: flex;
    animation: fade-in 0.5s ease-in-out;
    opacity: 1;
}


.dots-group {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dots-squad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.dots-group .dots-squad:last-child {
    margin-right: 0;
}

.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(30, 221, 212);

}

.dots-squad:hover .dots {
  background-color: rgb(217, 240, 12);
}


.dots.active {
    border: 3px solid   rgb(30, 221, 212);
    background-color: rgb(184, 28, 61);

}



@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}