* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(22, 18, 18);
    overflow: hidden;
    border-radius: 3vw;
    border: .4rem solid #b11b1b;

    animation: borderAnimationContainer 4s linear infinite;
}

.container img {
    max-width: 100%;
}

.image-wrapper {
    display: flex;
    overflow: hidden;
    margin: 4vw;
    border-radius: 3vw;
    border: .3rem solid #b11b1b;
    
    animation: borderAnimation 4s linear infinite;
}



.container input {
    display: none;
}

.image {
    width: 100%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vw;
}


.container-steps {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container-steps p {
    max-width: 100%;
}


.steps-wrapper {
    color: white;

}


.dots-group {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;

}

.dots-squad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    cursor: pointer;
}

.dots-squad label {
    height: 2vh;
    width: 2.3vw;
    border-radius: 50%;
    background-color: #b11b1b;
    cursor: pointer;
    border: 0.15rem solid white;
}


.steps-wrapper .boll {
    opacity: 0;
    z-index: 0;
    display: none;
    margin: 0;
    font-size: 1.4rem;
}

.dots-squad:hover label,
#img1:checked~.info>.dots-group>.dots-squad:nth-of-type(1) label,
#img2:checked~.info>.dots-group>.dots-squad:nth-of-type(2) label,
#img3:checked~.info>.dots-group>.dots-squad:nth-of-type(3) label,
#img4:checked~.info>.dots-group>.dots-squad:nth-of-type(4) label,
#img5:checked~.info>.dots-group>.dots-squad:nth-of-type(5) label {
    background: #1bb1b1;
}

.dots-squad:active label,
#img1:checked~.info>.dots-group>.dots-squad:nth-of-type(1) label,
#img2:checked~.info>.dots-group>.dots-squad:nth-of-type(2) label,
#img3:checked~.info>.dots-group>.dots-squad:nth-of-type(3) label,
#img4:checked~.info>.dots-group>.dots-squad:nth-of-type(4) label,
#img5:checked~.info>.dots-group>.dots-squad:nth-of-type(5) label {
    background: #0ceec8;
}




#img1:checked~.image-wrapper>.image1 {
    margin-left: 0%;
    transition: all .5s ease;

}

#img2:checked~.image-wrapper>.image1 {
    margin-left: -100%;
    transition: all .5s ease;
}

#img3:checked~.image-wrapper>.image1 {
    margin-left: -200%;
    transition: all .5s ease;
}

#img4:checked~.image-wrapper>.image1 {
    margin-left: -300%;
    transition: all .5s ease;
}

#img5:checked~.image-wrapper>.image1 {
    margin-left: -400%;
    transition: all .5s ease;
}

#img1:checked~.info>.container-steps>.steps-wrapper>.step1,
#img2:checked~.info>.container-steps>.steps-wrapper>.step2,
#img3:checked~.info>.container-steps>.steps-wrapper>.step3,
#img4:checked~.info>.container-steps>.steps-wrapper>.step4,
#img5:checked~.info>.container-steps>.steps-wrapper>.step5 {
    display: flex;
    opacity: 1;
    z-index: 1;
    animation: moves 1s ease;
}


@keyframes moves {
    0% {
        display: block;
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}


@keyframes borderAnimation {
    0% {
        border-color:  #b11b1b; 
    }
    20% {
        border-color:   #f74a4a; 
    }
    40% {
        border-color: #1bb1b1; 
    }
    60% {
        border-color:   #0ceec8; 
    }
    90% {
        border-color:   #f74a4a; 
    }
    100% {
        border-color:  #b11b1b;
    }
}

@keyframes borderAnimationContainer {
    0% {
        border-color:   #1bb1b1; 
    }
    20% {
        border-color:   #0ceec8; 
    }
    40% {
        border-color: #b11b1b; 
    }
    60% {
        border-color:   #f74a4a; 
    }
    90% {
        border-color:   #0ceec8; 
    }
    100% {
        border-color: #1bb1b1;
    }
}


@media (max-width: 750px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 4vw;
    }

    .dots-group {
        margin: auto;
        order: 1;
    }

    .steps-wrapper {
        display: flex;
        color: white;
        font-size: 1.5vw;
        margin-top: 4vw;
    }

    .container-steps {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: 2;
    }

}