* {
    box-sizing: border-box;
}

.body {
    margin: 0 auto;
}

.container {
    max-width: 1024px;
    background-color: black;
    overflow: hidden;
    position: static;
    border-radius: 25px;
}


.slider {
    position: static;
    max-width: 904px;
    overflow: hidden;
    margin:60px;
    border-radius: 25px;
}

.container-images {
   display: flex;
   align-items: center;
   transition: all 2s;
   gap: 30px;

}

.container-images img {
    max-width: 100%;
}

.image-wrapper {
    display: flex;
    gap: 50px;
    transition: transform 1s ease; 
}

.image {
    width: 100%;
    height: auto;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 1s ease; 
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
}


.container-steps {
    display: flex;
    align-items: center;
    transition: all 2s;
    
}


.steps-wrapper {
    display: flex;
    color: white;
    font-size: 16px;
    gap: 10px;
}


.step {
    display: none;
    animation: fade-out 0.5s ease-in-out; 
    opacity: 0;
    transition: opacity 0.5s ease;
}


.step.active {
    display: flex;
    animation: fade-in 0.5s ease-in-out; 
    opacity: 1;
}


.dots-group {
    display: flex;
    justify-content: center;
    align-items: center;

}

.dots-squad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}


.dots-group .dots-squad:last-child {
    margin-right: 0;
}

.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(33, 80, 236);

}

.dots:hover {
    background-color: white;
}


.dots.active {
    border: 3px solid rgb(33, 80, 236);
    background-color: black;
    
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}